.btn-goole{
    height: 50px;
    background: #d6249f;
    box-shadow: none !important;
    border: none !important;
    color: #fff !important;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.a-links{
    color: #fff;
    text-decoration: none;
}